<section class="hero">
  <div class="hero__container">

    <div class="hero__content">

      <h1 class="hero__title">
        {{ content.field_heading.0['#context'].value }}
      </h1>

      <div class="hero__description">
  {{ content.field_description.0['#text']|striptags  }}
</div>

      {% if content.field_primary_button %}
        <a href="{{ content.field_primary_button.0['#url'] }}" class="hero__btn">
          {{ content.field_primary_button.0['#title'] }}
        </a>
      {% endif %}

    </div>

    <div class="hero__image">
      {{ content.field_blockimage }}
    </div>

  </div>
</section>