{{ attach_library('moderncreative/hero') }}

<section class="hero" style="background-image: url('{{ directory }}/images/hero-bg.jpg');">

  <div class="hero__container">

    <div class="hero__content">

      <h1 class="hero__title">
        {{ content.field_heading }}
      </h1>

      <div class="hero__description">
        {{ content.field_description.0['#text']|striptags  }}
      </div>

      <div class="hero__buttons">
        {{ content.field_primary_button }}
      </div>

    </div>

    <div class="hero__image">
      {{ content.field_block_image }}
    </div>

  </div>

</section>