{# GLOBAL STYLES #}
{{ attach_library('moderncreative/global-styles') }}

<div class="layout-container">

  {# HEADER #}
  {% include directory ~ '/components/header/header.twig' %}

  {# HERO SECTION #}
  {% if page.hero %}
    {{ page.hero }}
  {% endif %}

  {# ABOUT SECTION (COMPONENT BASED) #}
{% if page.about %}
  <section class="about-section">
    {% include directory ~ '/components/about/about.twig' %}
  </section>
{% endif %}
  {# SKILLS #}
  {% if page.skills %}
    <section id="skills">
      {{ page.skills }}
    </section>
  {% endif %}


  {# STATS #}
  {% if page.stats %}
    <section id="stats">
      {{ page.stats }}
    </section>
  {% endif %}

  {# TESTIMONIALS #}
  {% if page.testimonials %}
    <section id="testimonials">
      {{ page.testimonials }}
    </section>
  {% endif %}

  {# BLOG #}
  {% if page.blog %}
    <section id="blog">
      {{ page.blog }}
    </section>
  {% endif %}

  {# CONTACT #}
  {% if page.contact %}
    <section id="contact">
      {{ page.contact }}
    </section>
  {% endif %}

  {# FOOTER #}
  <footer>

    {% if page.footer_first %}
      <div class="footer-first">
        {{ page.footer_first }}
      </div>
    {% endif %}

    {% if page.footer_second %}
      <div class="footer-second">
        {{ page.footer_second }}
      </div>
    {% endif %}

    {% if page.footer %}
      <div class="footer-bottom">
        {{ page.footer }}
      </div>
    {% endif %}

  </footer>

</div>